name: Build Docs
on:
  push:
    paths-ignore:
      - ‘*.kbdgen/**’
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: keyboard
      - name: deploy gh pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: keyboard/docs/
          enable_jekyll: true
